body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
}

header {
  background-color: #1DB954;
  padding: 20px;
}

.music-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.music-card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.music-card img {
  width: 100%;
  border-radius: 10px;
}
